**/cache
**/.cache

shell/private/**


editors/sublime-text/Log/**
editors/sublime-merge/Local/**

editors/sublime-text/Packages/**
editors/sublime-text/Local/*.sublime_session

editors/intellij/**/
!editors/intellij/**/options
!editors/intellij/**/codestyles
!editors/intellij/**/idea.properties
!editors/intellij/**/idea64.vmoptions


**/misc/crypto/gnupg/openpgp-revocs.d
**/gnupg/private-keys*
**/musikcube/playback.json
**/musikcube/session.json
